.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hwb(38 60% 0% / 0.705);
    padding: 1rem;
    
  }
  
  .navbar h2 {
    margin: 0;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-style: inherit;
  }
  
  .navbar ul li a:hover {
    color: #ff6600;
  }
  .logo{
    width: 6.5em;
    margin-right: 0;
    height: 3.9em;
    font:italic;
  }
  .navbar div {
display: flex;
gap:1em ;
  }
  