body {
  font:italic;
  color: #333;
  margin: 0;
  padding: 0;
  
    
  font-family: "body", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


h1 {
  color: #94613e83;
}

img {
  max-width: 100%;
  height: auto;
}


body {
  margin: 0;
  font-family: 'Arial, sans-serif';
  background-color: #f9f9f9;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  /* padding: 2rem; */
}

  
  
