body {
  font:italic;
  color: #333;
  margin: 0;
  padding: 0;
  
    /* background-position: center; */
  /* // <uniquifier>: Use a unique and descriptive class name */

/* .playwrite-co-<uniquifier> { */
  font-family: "body", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}




h1 {
  color: #94613e83;
}

img {
  max-width: 100%;
  height: auto;
}

  
  
